.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .main {
    flex-grow: 1;
    padding-bottom: 60px;
  }
}

.main {
  &:has(.qr-code) {
    display: flex;
  }
}

.qr-code {
  max-width: 244px;
  margin: auto;
  height: 100%;

  // .qr-code__rows

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  // .qr-code__row

  &__row {
    border-radius: 16px;
    padding: 8px;
    background-color: var(--root-surface-overlay);

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: var(--text-black);
  }

  // .qr-code__text

  &__text {}
}


.start-bg {
  background-image: image-set(url('/img/bg/start-bg.webp') 1x type('image/webp'),
      url('/img/bg/start-bg.jpg') 1x,
      url('/img/bg/start-bg@2x.webp') 2x type('image/webp'),
      url('/img/bg/start-bg@2x.jpg') 2x);
  background-image: -webkit-image-set(url('/img/bg/start-bg.webp') 1x type('image/webp'),
      url('/img/bg/start-bg.jpg') 1x,
      url('/img/bg/start-bg@2x.webp') 2x type('image/webp'),
      url('/img/bg/start-bg@2x.jpg') 2x);

  background-repeat: no-repeat;
  background-position: top;
  background-position-y: center;
  background-size: cover;

}

.chest-bg {
  background-image: image-set(url('/img/chest/bg.png') 1x type('image/webp'),
      url('/img/chest/bg.png') 1x,
      url('/img/chest/bg@2x.webp') 2x type('image/webp'),
      url('/img/chest/bg@2x.png') 2x);
  background-image: -webkit-image-set(url('/img/chest/bg.webp') 1x type('image/webp'),
      url('/img/chest/bg.png') 1x,
      url('/img/chest/bg@2x.webp') 2x type('image/webp'),
      url('/img/chest/bg@2x.png') 2x);

  background-repeat: no-repeat;
  background-position: top;
  background-position-y: center;
  background-size: cover;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 4px;
  flex-wrap: wrap;
  width: 100%;
  min-height: 56px;
  padding: 12px;
  border: 0;
  outline: 0;
  border-radius: 8px;
  background-color: var(--primary-color);

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--root-surface-overlay);
}

.black-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 4px;
  flex-wrap: wrap;
  width: 100%;
  min-height: 56px;
  padding: 12px;
  border: 0;
  outline: 0;
  border-radius: 8px;
  background-color: var(--text-black);

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--root-surface-overlay);
}

.grey-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 4px;
  flex-wrap: wrap;
  width: 100%;
  min-height: 56px;
  padding: 12px;
  border: 0;
  outline: 0;
  border-radius: 8px;
  background-color: #edeeef;

  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--text-black);
}

.add-user {
  position: fixed;
  z-index: 2;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 32px);
  margin: 0 auto;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 8px;

  img {
    animation: loader 1s linear infinite;
    transition: transform 0.3s linear;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.opacity-5 {
  opacity: 0.5;
}

.opacity-4 {
  opacity: 0.4;
}