.collection {

  // .collection__inner

  &__inner {}

  // .collection__head

  &__head {
    padding: 24px 24px 12px 24px;
  }

  // .collection__title

  &__title {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--text-black);
  }

  // .collection__status

  &__status {
    width: calc(100% - 100px);
    padding: 12px 24px 24px 24px;
    margin: 0 auto;
  }

  // .collection__status-title

  &__status-title {
    margin-bottom: 12px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--text-black);
  }

  // .collection__status-progress

  &__status-progress {
    display: flex;
    align-items: center;
    height: 8px;
    border: 0.50px solid #bcd9f5;
    border-radius: 100px;
    background: var(--root-surface-ground);
  }

  // .collection__status-progress-inner

  &__status-progress-inner {
    height: 8px;
    border-radius: 100px;
    background: var(--primary-color);
  }

  // .collection__status-info

  &__status-info {
    display: flex;
    align-items: center;
    column-gap: 4px;
    row-gap: 4px;
  }

  // .collection__status-text

  &__status-text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 145%;
    color: var(--text-black);

    &:last-child {
      margin-left: auto;
    }
  }

  // .collection__status-text--grey

  &__status-text--grey {
    opacity: 0.5;
  }

  // .collection__slider-container

  &__slider-container {
    overflow: hidden;
  }

  // .collection__slider

  &__slider {
    overflow: visible;
    background-image: url("data:image/svg+xml,%3Csvg width='390' height='1' viewBox='0 0 390 1' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cline y1='0.5' x2='390' y2='0.5' stroke='url(%23paint0_linear_578_7416)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_578_7416' x1='0' y1='1.5' x2='390' y2='1.5' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0.05' stop-color='%23E3E7EC' stop-opacity='0'/%3E%3Cstop offset='0.5' stop-color='%23E3E7EC'/%3E%3Cstop offset='0.95' stop-color='%23E3E7EC' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position-y: bottom;
  }

  // .collection__slider-wrapper

  &__slider-wrapper {
    overflow: visible;
  }

  // .collection__slide

  &__slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 70%;

    &.veil {
      .collection__slide-pic {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          backdrop-filter: blur(6px);
          background: rgba(255, 255, 255, 0.5);
        }
      }
    }

    .swiper-slide-shadow-right.swiper-slide-shadow-coverflow {
      background: none;
    }

    .swiper-slide-shadow-left.swiper-slide-shadow-coverflow {
      background: none;
    }
  }

  // .collection__slide-pic

  &__slide-pic {
    // width: 70%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
  }

  // .collection__slider-pagination

  &__slider-pagination {
    padding: 24px 0 24px;
  }

  // .collection__slider-pagination

  &__slider-pagination {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
    row-gap: 12px;
    flex-wrap: wrap;
  }

  // .collection__slider-pagination-item

  &__slider-pagination-item {
    position: relative;
    z-index: 1;
    width: 24px;
    height: 24px;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100%;
    }

    &.active {
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid var(--secondary-gray-xlight);
        border-radius: 100px;
        width: 32px;
        height: 32px;
      }
    }

    &.full-opened {}

    &.half-opened {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        $size: 12px;
        height: $size * 2;
        width: $size;
        border-bottom-left-radius: $size * 2;
        border-top-left-radius: $size * 2;
        backdrop-filter: blur(2px);
        background: rgba(255, 255, 255, 0.4);
      }
    }

    &.not-opened {
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(0);
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='13' viewBox='0 0 9 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.8'%3E%3Cpath d='M2.75403 8.19057L2.74538 7.61058C2.72806 7.22937 2.77135 6.88901 2.87525 6.58948C2.98491 6.28451 3.16096 6.0095 3.40338 5.76443C3.65158 5.51937 3.97481 5.28519 4.37308 5.06191C4.73095 4.85497 5.01377 4.66164 5.22157 4.48193C5.42936 4.30221 5.57654 4.11161 5.66312 3.91011C5.75548 3.70861 5.80165 3.47444 5.80165 3.20759V3.19125C5.80165 2.90262 5.72373 2.64666 5.56789 2.42338C5.41781 2.2001 5.20714 2.02583 4.93585 1.90058C4.66457 1.76988 4.34711 1.70453 3.98347 1.70453C3.61406 1.70453 3.29083 1.7726 3.01377 1.90875C2.74249 2.04489 2.52604 2.23278 2.36442 2.4724C2.20858 2.70657 2.11623 2.98159 2.08737 3.29745L2.07871 3.3628H0.0527344V3.28928C0.0873664 2.67389 0.260527 2.12114 0.572215 1.63101C0.883903 1.14088 1.33412 0.754219 1.92286 0.471034C2.51738 0.182402 3.24177 0.0380859 4.09602 0.0380859C4.88679 0.0380859 5.57654 0.17151 6.16529 0.438358C6.75981 0.699761 7.22157 1.06191 7.55057 1.52481C7.88535 1.98771 8.05273 2.51869 8.05273 3.11773V3.13407C8.05273 3.54796 7.98058 3.92372 7.83628 4.26137C7.69776 4.59901 7.48996 4.90398 7.21291 5.17628C6.94162 5.44312 6.60973 5.68819 6.21724 5.91147C5.84206 6.11841 5.54768 6.31174 5.33412 6.49146C5.12633 6.67117 4.97914 6.86178 4.89256 7.06327C4.80598 7.25933 4.76269 7.4935 4.76269 7.76579V8.19057H2.75403ZM3.79299 12.0381C3.42936 12.0381 3.12344 11.9264 2.87525 11.7032C2.63282 11.4744 2.51161 11.194 2.51161 10.8618C2.51161 10.5241 2.63282 10.2437 2.87525 10.0204C3.12344 9.79711 3.42936 9.68547 3.79299 9.68547C4.1624 9.68547 4.4712 9.79711 4.7194 10.0204C4.9676 10.2437 5.0917 10.5241 5.0917 10.8618C5.0917 11.194 4.9676 11.4744 4.7194 11.7032C4.4712 11.9264 4.1624 12.0381 3.79299 12.0381Z' fill='white' /%3E%3C/g%3E%3C/svg%3E");
        background-repeat: no-repeat;
        backdrop-filter: blur(4px);
        background-color: rgba(255, 255, 255, 0.2);
        background-position: center;
        border-radius: 100%;
        overflow: hidden;
      }

    }

  }


  // .collection__remuneration

  &__remuneration {
    padding: 24px 0;
    overflow: hidden;

  }

  // .collection__remuneration-label

  &__remuneration-label {
    margin-bottom: 16px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 11px;
    line-height: 120%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-black);
  }

  // .collection__remuneration-list

  &__remuneration-list {
    display: flex;
    align-items: center;
    column-gap: 8px;
    row-gap: 8px;
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 0 24px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  // .collection__remuneration-item

  &__remuneration-item {
    display: flex;
    align-items: center;
    column-gap: 6px;
    min-height: 40px;
    border-radius: 8px;
    padding: 6px 12px 6px 6px;
    backdrop-filter: blur(50px);
    background: #edeeef;

    font-family: var(--second-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 145%;
    white-space: nowrap;
    color: var(--text-black);

    img {
      object-fit: contain;
    }
  }
}

.collection {

  // .collection__slide-status

  &__slide-status {
    position: absolute;
    // width: 70%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .collection__slide-status-top

  &__slide-status-top {
    width: 100%;
    width: 100%;
    border-radius: 8px;
    padding: 6px 12px;
    backdrop-filter: blur(50px);
    background: rgba(145, 142, 142, 0.8);
  }

  // .collection__slide-status-label

  &__slide-status-label {
    text-align: center;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 10px;
    color: var(--root-surface-overlay);
  }

  // .collection__slide-status-bottom

  &__slide-status-bottom {}

  // .collection__slide-status-btn

  &__slide-status-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 100px;
    padding: 7px 12px;
    background-color: var(--primary-color);

    line-height: 1.25;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 14px;
    color: var(--root-surface-overlay);
  }

  // .collection__slide-status-center

  &__slide-status-center {
    align-self: center;
    margin: auto 0;
  }

  // .collection__slide-status-preloader

  &__slide-status-preloader {
    border-radius: 100px;
    padding: 8px 12px;
    background-color: var(--primary-color);
  }

}